@import url(https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@500&family=Poppins&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pgwidth: 880px;
  --songwidth : calc(-49vw + (var(--pgwidth)*0.5));
  --bgcolor: rgb(15, 15, 15);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  margin: 0;
  margin: 0;
  transition: all .5s ease;
  width: 100%;
  font-family: Poppins,sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  background-image: linear-gradient(var(--bgcolor) 50%, #030511);
}

html {
  height: 100%;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888888 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bgcolor);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888888;
    border: 0px solid transparent;
  }

.spotifytext {
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-skeleton {
  animation: skeleton 1s ease-in-out infinite;
}

#root {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.103);
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  -webkit-mask-image: linear-gradient(0deg,transparent,black);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgba(180 180 180 / 0.05)'><path d='M0 .5H31.5V32'/></svg>");
  z-index: -10;
}

.dark .App {
  -webkit-mask-image: linear-gradient(0deg,transparent,black);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(0 0 0 / 0.15)'><path d='M0 .5H31.5V32'/></svg>");
  z-index: -10;
}