@import url(https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@500&family=Poppins&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pgwidth: 850px;
  --songwidth : calc(-49vw + (var(--pgwidth)*0.5));
  --bgcolor: #111111;
  --stripe-opacity: 0.06;
  --stripe-opacity-dark: 0.2;
}

@media (max-width: 640px) {
  :root {
    --stripe-opacity: 0.11;
    --stripe-opacity-dark: 0.25;
  }
}

body, html {
  margin: 0px;
  padding: 0px;
  font-family: Poppins,sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888888 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: var(--bgcolor);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888888;
    border: 0px solid transparent;
  }

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-skeleton {
  animation: skeleton 1s ease-in-out infinite;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  background: transparent;
  background-color: #0a0a0c;
  color: white;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      rgba(255, 255, 255, var(--stripe-opacity)) 10%,
      transparent 77%,
      transparent
    );
  background-size: 50px 50px;
}

/*#070514, #04030c, #0d1117*/

.hovered {
  animation-name: loop-background-hover;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.unhovered {
  animation-name: loop-background;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes loop-background-hover {
  0% {
    background-size: 50px 50px;
  }

  100% {
    background-size: 35px 35px;
  }
}

@keyframes loop-background {
  0% {
    background-size: 35px 35px;
  }
  100% {
    background-size: 50px 50px;
  }
}

.dark .App {
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      rgba(0, 0, 0, var(--stripe-opacity)) 10%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      45deg,
      transparent 24%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      transparent 27%,
      transparent 74%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      rgba(0, 0, 0, var(--stripe-opacity-dark)) 10%,
      transparent 77%,
      transparent
    );
}