@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Outfit:wght@500&family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  height: 100%
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888888 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
    border: 0px solid transparent;
  }

.instict {
  font-size: clamp(50px, 17vw, 110px); 
  font-family: 'Outfit', sans-serif;
}

.spotifytext {
  font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-skeleton {
  animation: skeleton 1s ease-in-out infinite;
}